body {
    margin: 0;
    padding: 0;
}

.out {
    padding-left: 20px;
    padding-top: 20px;
    background: black;
    height: 100vh;
    margin: 0;
    color: green;
    font-size: 24px;
    font-family: monospace;
}